<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>D3 Test Page</title>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <style>
        </style>
    </head>
    <body>
        <svg id="pane" style="border:1px solid"></svg>
        <script>
var pane = d3.select("svg");
pane.attr("width",602);
pane.attr("height",600);
pane.append("svg:image")
.attr("xlink:href","../static/usaMap.jpg");

//get line
var lineFunction = d3.svg.line()
    .x(function(d) { return d.x; })
    .y(function(d) { return d.y; })
    .interpolate("linear");

var toPx = function convertDegreesToPx(lat,lng,state){
    if (state == "HI"){
        console.log(state);
        console.log("lat:");
        var ycor = 274 + (20-lat)*14;//42.0 + (50.0-lat)*/9.8;
        console.log(ycor);
        console.log("lng:");
        var xcor = 86 + (155.0-lng)*12;
        console.log(xcor);
        return [xcor,ycor];
    };
    if (state == "AK"){
        console.log(state);
        console.log("lat:");
        var ycor = 199 + (60-lat)*5.7;//42.0 + (50.0-lat)*/9.8;
        console.log(ycor);
        console.log("lng:");
        var xcor = 56 + (150-lng)*2.5;
        console.log(xcor);
        return [xcor,ycor];
    };
//120 deg-X == 174px
//70 deg-X  == 561px
//ratio -50 deg-X to 387px
// px/deg = 7.74

//50 deg-Y == 42px
//25 deg-Y == 287px
//ratio -25 deg-Y == 245 px
// px/deg = 9.8

    console.log(state);
    console.log("lat:");
    var ycor = 536 + (0-lat)*9.8;//42.0 + (50.0-lat)*/9.8;
    console.log(ycor);
    console.log("lng:");
    var xcor = 174.0 + (120.0-lng)*7.74;
    console.log(xcor);
    return [xcor,ycor];
};
/*
//test coors AK
coors = toPx(60,150,"AK");
lineData = [ { "x": 0,   "y": coors[1]},  { "x": 600,  "y": coors[1]}];
pane.append("path")
.attr("d", lineFunction(lineData))
.attr("stroke", "blue")
.attr("stroke-width", 2)
.attr("fill", "none");
lineData = [ { "x": coors[0],   "y": 0},  { "x": coors[0],  "y": 300 }];
pane.append("path")
.attr("d", lineFunction(lineData))
.attr("stroke", "blue")
.attr("stroke-width", 2)
.attr("fill", "none");

coors = toPx(70,165,"AK");
lineData = [ { "x": 0,   "y": coors[1]},  { "x": 600,  "y": coors[1]}];
pane.append("path")
.attr("d", lineFunction(lineData))
.attr("stroke", "blue")
.attr("stroke-width", 2)
.attr("fill", "none");
lineData = [ { "x": coors[0],   "y": 0},  { "x": coors[0],  "y": 300 }];
pane.append("path")
.attr("d", lineFunction(lineData))
.attr("stroke", "blue")
.attr("stroke-width", 2)
.attr("fill", "none");
*/
/*
//test coors HI
coors = toPx(20,155,"HI");
lineData = [ { "x": 0,   "y": coors[1]},  { "x": 600,  "y": coors[1]}];
pane.append("path")
.attr("d", lineFunction(lineData))
.attr("stroke", "blue")
.attr("stroke-width", 2)
.attr("fill", "none");
lineData = [ { "x": coors[0],   "y": 0},  { "x": coors[0],  "y": 300 }];
pane.append("path")
.attr("d", lineFunction(lineData))
.attr("stroke", "blue")
.attr("stroke-width", 2)
.attr("fill", "none");

coors = toPx(22,160,"HI");
lineData = [ { "x": 0,   "y": coors[1]},  { "x": 600,  "y": coors[1]}];
pane.append("path")
.attr("d", lineFunction(lineData))
.attr("stroke", "blue")
.attr("stroke-width", 2)
.attr("fill", "none");
lineData = [ { "x": coors[0],   "y": 0},  { "x": coors[0],  "y": 300 }];
pane.append("path")
.attr("d", lineFunction(lineData))
.attr("stroke", "blue")
.attr("stroke-width", 2)
.attr("fill", "none");
*/
/*
//test Coors NY
coors = toPx(30,120,"NY");
lineData = [ { "x": 0,   "y": coors[1]},  { "x": 600,  "y": coors[1]}];
pane.append("path")
.attr("d", lineFunction(lineData))
.attr("stroke", "blue")
.attr("stroke-width", 2)
.attr("fill", "none");
lineData = [ { "x": coors[0],   "y": 0},  { "x": coors[0],  "y": 300 }];
pane.append("path")
.attr("d", lineFunction(lineData))
.attr("stroke", "blue")
.attr("stroke-width", 2)
.attr("fill", "none");

coors = toPx(50,110,"NY");
lineData = [ { "x": 0,   "y": coors[1]},  { "x": 600,  "y": coors[1]}];
pane.append("path")
.attr("d", lineFunction(lineData))
.attr("stroke", "blue")
.attr("stroke-width", 2)
.attr("fill", "none");
lineData = [ { "x": coors[0],   "y": 0},  { "x": coors[0],  "y": 300 }];
pane.append("path")
.attr("d", lineFunction(lineData))
.attr("stroke", "blue")
.attr("stroke-width", 2)
.attr("fill", "none");

coors = toPx(45,100,"NY");
lineData = [ { "x": 0,   "y": coors[1]},  { "x": 600,  "y": coors[1]}];
pane.append("path")
.attr("d", lineFunction(lineData))
.attr("stroke", "blue")
.attr("stroke-width", 2)
.attr("fill", "none");
lineData = [ { "x": coors[0],   "y": 0},  { "x": coors[0],  "y": 300 }];
pane.append("path")
.attr("d", lineFunction(lineData))
.attr("stroke", "blue")
.attr("stroke-width", 2)
.attr("fill", "none");

coors = toPx(40,90,"NY");
lineData = [ { "x": 0,   "y": coors[1]},  { "x": 600,  "y": coors[1]}];
pane.append("path")
.attr("d", lineFunction(lineData))
.attr("stroke", "blue")
.attr("stroke-width", 2)
.attr("fill", "none");
lineData = [ { "x": coors[0],   "y": 0},  { "x": coors[0],  "y": 300 }];
pane.append("path")
.attr("d", lineFunction(lineData))
.attr("stroke", "blue")
.attr("stroke-width", 2)
.attr("fill", "none");

coors = toPx(35,80,"NY");
lineData = [ { "x": 0,   "y": coors[1]},  { "x": 600,  "y": coors[1]}];
pane.append("path")
.attr("d", lineFunction(lineData))
.attr("stroke", "blue")
.attr("stroke-width", 2)
.attr("fill", "none");
lineData = [ { "x": coors[0],   "y": 0},  { "x": coors[0],  "y": 300 }];
pane.append("path")
.attr("d", lineFunction(lineData))
.attr("stroke", "blue")
.attr("stroke-width", 2)
.attr("fill", "none");

coors = toPx(25,70,"NY");
lineData = [ { "x": 0,   "y": coors[1]},  { "x": 600,  "y": coors[1]}];
pane.append("path")
.attr("d", lineFunction(lineData))
.attr("stroke", "blue")
.attr("stroke-width", 2)
.attr("fill", "none");
lineData = [ { "x": coors[0],   "y": 0},  { "x": coors[0],  "y": 300 }];
pane.append("path")
.attr("d", lineFunction(lineData))
.attr("stroke", "blue")
.attr("stroke-width", 2)
.attr("fill", "none");
*/
        </script>
    </body>
</html>
