<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>D3 Test Page</title>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <style>
        </style>
    </head>
    <body>
        <svg id="pane" style="border:1px solid">
        </svg>
        <script>
var pane = d3.select("svg");
pane.attr("width",602);
pane.attr("height",600);
pane.append("svg:image")
.attr("xlink:href","../static/usaMap.jpg");


var toPx = function convertDegreesToPx(lat,lng,state){
    if (state == "HI"){
        console.log(state);
        console.log("lat:");
        var ycor = 274 + (20-lat)*14;//42.0 + (50.0-lat)*/9.8;
        console.log(ycor);
        console.log("lng:");
        var xcor = 86 + (155.0-lng)*12;
        console.log(xcor);
        return [xcor,ycor];
    };
    if (state == "AK"){
        console.log(state);
        console.log("lat:");
        var ycor = 199 + (60-lat)*5.7;//42.0 + (50.0-lat)*/9.8;
        console.log(ycor);
        console.log("lng:");
        var xcor = 56 + (150-lng)*2.5;
        console.log(xcor);
        return [xcor,ycor];
    };
//120 deg-X == 174px
//70 deg-X  == 561px
//ratio -50 deg-X to 387px
// px/deg = 7.74

//50 deg-Y == 42px
//25 deg-Y == 287px
//ratio -25 deg-Y == 245 px
// px/deg = 9.8

    console.log(state);
    console.log("lat:");
    var ycor = 536 + (0-lat)*9.8;//42.0 + (50.0-lat)*/9.8;
    console.log(ycor);
    console.log("lng:");
    var xcor = 174.0 + (120.0-lng)*7.74;
    console.log(xcor);
    return [xcor,ycor];
};

//get line
var lineFunction = d3.svg.line()
    .x(function(d) { return d.x; })
    .y(function(d) { return d.y; })
    .interpolate("linear");
//makes line
var makeLine = function makesLines(coors,color){ //coors list of list pairs of coordinates
    var lData = [];
    for (var i = 0;i<coors.length;i++){
        lData.push([ { "x": coors[i][0] - 20,   "y": coors[i][1]},  { "x": coors[i][0]+20,  "y": coors[i][1]}],[{ "x": coors[i][0],   "y": coors[i][1]-20},  { "x": coors[i][0],  "y": coors[i][1]+20 }]);
    };
    for (var i = 0;i<lData.length;i++){
pane.append("path")
.attr("d", lineFunction(lData[i]))
.attr("stroke", color)
.attr("stroke-width", 2)
.attr("fill", "none");
    }
};

//circle stuff
//hardcoded points
var reportPoints = [  //latitude,longitude,state
    [40, 80, "PA"],
    [20, 155, "HI"],
    [60,150,"AK"]];
var plot = function plotDot(dotInfo){ //dot info is a list of dot info lists  with the format [<latitude>,<longitude>,<state>]
//circle stuff with modified code from dashingd3
    var pointList = [];
    for (var i = 0;i<dotInfo.length;i++){
        var tempList = [];
        var tempCoor = toPx(dotInfo[i][0],dotInfo[i][1],dotInfo[i][2]);
        tempList.push(tempCoor[0]);
        tempList.push(tempCoor[1]);
        tempList.push(5);
        tempList.push("purple");
        pointList.push(tempList);
    };
var points = pane.selectAll("circle")
    .data(pointList)
    .enter()
    .append("circle");
var circleAttributes = points
    .attr("cx", function (d) { return d[0]; })
    .attr("cy", function (d) { return d[1]; })
    .attr("r", function (d) { return d[2]; })
    .style("fill", function(d) { return d[3]; });
};
plot(reportPoints);



////////TEST CASE FUNCTIONS //////////////////////////

//test coors AK
var testAK = function test_Alaska(){
var coors = [toPx(60,150,"AK")];
coors.push(toPx(70,165,"AK"));
makeLine(coors,"red");
};

//test coors HI
var testHI = function test_Hawaii(){
var coors = [toPx(20,155,"HI")];
coors.push(toPx(22,160,"HI"));
makeLine(coors,"green");
};

//test Coors NY is arbitrary state that is not HI or AK
var testMain = function test_regular_states(){
var coors = [toPx(50,120,"NY")];
coors.push(toPx(45,110,"NY"));
coors.push(toPx(40,100,"NY"));
coors.push(toPx(35,90,"NY"));
coors.push(toPx(30,80,"NY"));
coors.push(toPx(25,70,"NY"));
makeLine(coors,"blue");
};
//Test Grid
//testAK();
//testHI();
//testMain();
        </script>
    </body>
</html>
