<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D3 Test Page</title>
    <link rel="stylesheet" href="static/css/foundation.css">
    <link rel="stylesheet" href="static/css/app.css">
    
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="static/js/tooltip.js"></script> <!--borrowed code from https://github.com/Caged/d3-tip-->
        <style>
body {
    font: .9em sans-serif;
}
/*tip code */
.d3-tip {
  line-height: 2;
  font-weight: bold;
  padding: 6px;
  background: rgba(0, 0, 0, .8);
  color: #fff;
  border-radius: 2px;
  width:200px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

        </style>
    </head>
    <body>
    <h1>Import UFObject</h1>
    <br><br>
    <center>
        <svg id="pane" style="border:1px solid">
        </svg>
    </center>
<script src="static/js/index.js">
</script>
<script>
//circle stuff
var fullYearReport = {{reports}};
var reportPoints = [];//fullYearReport;

//currently hardcoded
var month = 2;
//console.log(reportPoints);
var updateMonth = function redrawReports(month){
$.ajax({
    url: '/redrawMonth',
    //'/saveSong'
    type: 'GET',
    //'POST'
    data: {"fullReport":JSON.stringify(fullYearReport),"month":month},
    //title,artist
    success: function( d ) {
        console.log("success");
    reportPoints = JSON.parse(d);
    console.log(JSON.parse(d));
    d3.selectAll('circle').remove();
    plot(reportPoints);
    }
});
};
updateMonth(month);
</script>

    <div class="row">
      <div class="small-8 columns">
	<div class="slider" data-slider data-start="1905" data-end="2017" data-initial-start="2017">
	  <span class="slider-handle"  data-slider-handle role="slider" tabindex="1" aria-controls="years"></span>
	  <span class="slider-fill" data-slider-fill></span>
	</div>
      </div>
      <div class="small-2 columns">
	<input type="number" id="years">
      </div>
      <div class="small-2 columns">
      </div>
    </div>

    <div class="row">
      <div class="small-8 columns">
	<div class="slider" data-slider data-start="1" data-end="12" data-initial-start="6">
	  <span class="slider-handle"  data-slider-handle role="slider" tabindex="1" aria-controls="months"></span>
	  <span class="slider-fill" data-slider-fill></span>
	</div>
      </div>
      <div class="small-2 columns">
	<input type="number" id="months">
      </div>
      <div class="small-2 columns">
	<input id="months-enable" type="checkbox"><label for="months-enable">Enable Months</label>
      </div>
    </div>

    <div class="row">
      <div class="small-8 columns">
	<div class="slider" data-slider data-start="1" data-end="31" data-initial-start="15">
	  <span class="slider-handle"  data-slider-handle role="slider" tabindex="1" aria-controls="days"></span>
	  <span class="slider-fill" data-slider-fill></span>
	</div>
      </div>
      <div class="small-2 columns">
	<input type="number" id="days">
      </div>
      <div class="small-2 columns">
	<input id="days-enable" type="checkbox"><label for="days-enable">Enable Days</label>
      </div>
    </div>
    
    <script src="static/js/vendor/jquery.js"></script>
    <script src="static/js/vendor/what-input.js"></script>
    <script src="static/js/vendor/foundation.js"></script>
    <script src="static/js/app.js"></script>

    </body>
</html>
