<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFO Reports</title>
    <link rel="stylesheet" href="static/css/foundation.css">
    <link rel="stylesheet" href="static/css/app.css">
  </head>

  <body>
    
    <div class="small-5 columns">
      <div class="slider" data-slider data-initial-start="2017" data-start="1905" data-end="2017" data-step="1" data-decimal="0">
	<span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutput1"></span>
	<span class="slider-fill" data-slider-fill></span>
      </div>
    </div>
    <div class="small-2 columns">
      <input type="number" id="sliderOutput1">
    </div>

    <script>
      $('.slider').on('moved.zf.slider', function(){
      console.log($(this).children('.slider-handle').attr('aria-valuenow'));
      });
    </script>
      
    
    <script src="static/js/vendor/jquery.js"></script>
    <script src="static/js/vendor/what-input.js"></script>
    <script src="static/js/vendor/foundation.js"></script>
    <script src="static/js/app.js"></script>
  </body>
  
</html>
